<!DOCTYPE html>
<html lang="en">

<head> 
    <!-- imports the code from head.ejs -->
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>

<body>
<%- include('./partials/scripts') %>
</body>

</html>